* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    background-color: bisque;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: beige;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

input {
    margin-right: 1em;
}

select {
    margin-right: 1em;
}

button {
    margin-right: 1em;
}

.registros {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.almacen {
    display: flex;
    margin-bottom: 1em;
    margin-top: 3em;
    justify-content: center;
    background-color: aquamarine;
    width: 75rem;
}

.borrar {
    margin-right: 10em;
}

hr {
    width: 75em;
    margin-bottom: 1em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-top: 15px;
    background-color: blue;
}